
  <!-- carousal -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/images/cors1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="assets/images/cors2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/images/cors3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container">
    
 <!-- weather add  -->
 <div class="weather-container">
  <p><strong>Current Weather:</strong></p>
  <ul>
    <li><strong>Main Weather:</strong> {{ weatherData.weather[0].main }}</li>
    <li><strong>Clouds:</strong> {{ weatherData.clouds.all }}%</li>
    <li><strong>Temperature:</strong> {{ ((weatherData.main.temp - 273.15) * 9 / 5 + 32).toFixed(2) }}°F</li>
    <li><strong>Feels Like:</strong> {{ ((weatherData.main.feels_like - 273.15) * 9 / 5 + 32).toFixed(2) }}°F</li>
    <li><strong>Sunrise:</strong> {{ weatherData.sys.sunrise * 1000 | date:'shortTime' }}</li>
    <li><strong>Sunset:</strong> {{ weatherData.sys.sunset * 1000 | date:'shortTime' }}</li>
    <li><strong>Visibility:</strong> {{ weatherData.visibility }} meters</li>
  </ul>
</div>

    <!-- all pets -->
    <div class="row rowcss" >
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1 column" *ngFor="let pet of pets">
                <div class="card cardouter">
                    <div class="card bactivity-0 cardimage">
                        <img class="img-thumbnail bactivity-0  rounded-start" src="{{pet.image}}" alt="">
                    </div>
                    <div class="card-body bactivity-left bactivity-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{pet.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>Availability: {{pet.price}}</h6><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                    <div class="card-footer   bactivity cardf">
                        <button (click)="fetchId(pet.id)" type="button" class="btn  text-light  bactivity-0   detail">View Detail</button>
                        <button   (click)="addtolikesHomeFunction(pet.id)" type="button" class="btn text-dark  bactivity-0 addtolikes">Interested!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- <div class="container">
    <div class="row">
        <div *ngFor="let pet of pets"  class="col-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{pet.image}}" class="img-thumbnail rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{pet.name}}</h5>
                      
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div> -->
