<div class="container-fluid py-5" *ngIf="pet">
    <div class="row px-xl-5">
        <div class="col-lg-4 pb-5">
            <div id="pet-carousel" class="carousel slide" data-ride="carousel">
                        <img class=" bactivity-0 align-items-center imagesize" src="{{pet.image}}" alt="Image">
            </div>
        </div>

        <div class="col-lg-7 pb-5 detailregion">
            <h3 class="font-weight-semi-bold">{{pet.name}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">Rating: {{pet.rating}}</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">Rs.{{pet.price}}</h3>
            <p class="mb-4">{{pet.description}}</p>
            
            
           <div>
                <button class="button-6 " (click)="addToLikesFunction(pet.id)"> Interested! </button>  
                <button class="button-5 " (click)="placeactivityFunction(pet.id)"> Confirm </button> 
            </div>
            
        </div>
    </div>

            </div>
  