<div class="comtainer">
    <div class="row">
        <div class="col-4">
            <div class="col-lg-10  col-md-8 col-sm-12 pb-1   column" >
                <div class="card cardouter">
                    <div class="card bactivity-0 cardimage">
                        <img class="img-thumbnail bactivity-0  rounded-start" src="{{pet.image}}" alt="">
                    </div>
                    <div class="card-body bactivity-left bactivity-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{pet.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>Availability: {{pet.price}}</h6><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                    <div class="card-footer   bactivity cardf">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <form action="" [formGroup]="activity" (ngSubmit)="activityform()">    
        <label for="exampleFormControlTextarea1" class="form-label mt-5 wide3">Leave some comments for the owner:</label>
        <textarea class="form-control wide" id="exampleFormControlTextarea1" formControlName="leave_comment" rows="6" ></textarea>
        
            <div class="card bactivity-secondary wide2">
                <div class="card-header color bactivity-0">
                    <h4 class="font-weight-semi-bold m-0">I Will Attend:</h4>
                </div>
                <div class="card-body ">
                    <div class="form-group"  >
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="multiple_choice" value="Pal"  id="pal">
                            <label class="custom-control-label" for="pal">Yes</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="multiple_choice" value="play-date"  id="directcheck">
                            <label class="custom-control-label" for="directcheck">No</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="multiple_choice" value="transfer"  id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Undecided</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer bactivity-secondary bg-transparent">
                    <button class="btn btn-lg btn-block button-3 font-weight-bold my-3 py-3">Confirm</button>
                </div>
            </div>
        </form>
    </div>
        </div>
        
    </div>
    